<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <form action="/homepage">
      <div>
        <h1>URL Shortner</h1>
        <p>Enter The URL To Short</p>
        <input placeholder="url" type="text" />
        <button>Short</button>
      </div>
    </form>
    <div>
      <p>The Shorten URL is</p>
      <p>SHORT URL</p>
    </div>
  </body>
</html>
